---
import "../../styles/global.css";
import "../../content/docs.css";

import Navbar from "../../components/navbar.astro";
import Blogitem from "../../components/blogitem.astro";
import { titleToLowerCaseKebab } from "../../components/blogitem.astro";


/**
 * Return static data on every blog entry, matches URLs
 */
export function getStaticPaths() {
	
	
	const allBlogs = Object.values(import.meta.glob('../../content/blogs/*.md', { eager: true }));

	const pages = allBlogs.map(
		function(blogPost) {
			return {
				params: { blog_title: titleToLowerCaseKebab(blogPost?.frontmatter?.title) } 
			}
		}
	)
	
	return pages
}

const { blog_title } = Astro.params;

const blogPosts = Object.values(import.meta.glob('../../content/blogs/*.md', { eager: true })) ;


// Find matching blog post
let BlogData
for(let i=0; i<blogPosts.length; i++) 
{
	if(titleToLowerCaseKebab(blogPosts[i].frontmatter.title) === blog_title)
	{
		BlogData = blogPosts[i]
		break
	}
}

// Store the frontmatter in an array so we can sort
let sortedOtherBlogs = []
for(let i=0; i<blogPosts.length; i++) 
{
	if(blogPosts[i].frontmatter.title !== BlogData.frontmatter.title) 
	{
		sortedOtherBlogs.push(blogPosts[i].frontmatter)
	}
}

sortedOtherBlogs.sort((a, b) => {
	return new Date(b.date) - new Date(a.date); // ascending
})

---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta
		name="description"
		content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
  	/>
  	<meta name="og:title" content="C3" />
  	<meta
  		name="og:description"
    	content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
  	/>
	<meta content="/logo.svg" property="og:image" />
	<meta content="#4355ec" data-react-helmet="true" name="theme-color" />
	<meta name="og:image" content="/logo.svg" />

  	<link rel="icon" href="/ico.svg" type="image/x-icon" />

	<title>C3 | Blog | An evolution, not a revolution</title>
</head>



<body class="dark:bg-stone-950 bg-white">
	<div style="height: auto">
	
		<Navbar />
		
		<div class="
			relative
			overflow-hidden
			"
		>
			<div class="
				grid
				lg:grid-cols-[2fr_4fr_2fr]
				lg:max-w-[calc(20rem+40rem+20rem)]
				mx-auto
			">
				<!-- Empty content for symmetry and centering of main content -->
				<div class="hidden lg:block"></div>
				
				<!-- Main content -->
				<!-- max-w-[40rem] 
				mx-auto  -->
				<!-- max-w-[40rem] -->
				<div class="
					px-4 
					sm:px-6 
					lg:px-8 
					pt-8
					md:pt-24 
					pb-12
					"
				>
					<div class="mt-5 mx-auto">
					
						<h1 class="
							block 
							text-3xl 
							font-bold 
							text-gray-800 
							sm:text-4xl 
							lg:text-6xl 
							lg:leading-tight 
							dark:text-white
							text-center
							sm:text-justify
							mb-8
							md:mb-18
							"
						>
							<a href="/blog">
								The
								<span class="
									bg-clip-text 
									bg-gradient-to-l 
									from-violet-600 
									to-blue-600 
									text-transparent"
								>
								C3
								</span>
								Blog
							</a>	

						</h1>			
							
							
							<!-- Show only current blogpost -->
							<Blogitem 
								title={BlogData?.frontmatter?.title} 
								date={BlogData?.frontmatter?.date?.slice(0,10)}
							>
								<BlogData.Content/>
							</Blogitem>
							
							
							<!-- Related blog posts (mobile only) -->
							<!-- <div class="sm:hidden">
								<h2 class="
									text-[var(--sl-color-gray-1)]
									mt-8
									mb-4
									font-bold
									text-3xl
								">
									Recent Blog Posts
								</h2>
								
								{sortedOtherBlogs.map((BlogPost) => {
									
									const blogPostUrl = titleToLowerCaseKebab(BlogPost.title)
									
									return <div class="
										hover:bg-slate-100
										hover:dark:bg-slate-800
										rounded-3xl
										px-4
										py-1
										my-1		
									">
										<a class="
											text-[var(--sl-color-text-accent)]
											text-justify
											"
											href={"/blog/"+blogPostUrl}
										>
											
											<div class="
												flex
												flex-col
												sm:ml-4
												
												text-[var(--sl-color-gray-1)]
											">
												<h3 class="
													text-l 
													font-bold
													"
												>
													{BlogPost.title}
												</h3>
												<p class="font-medium">
													{BlogPost.date.slice(0,10)}
												</p>
											</div>
										</a>
									
									</div>
								} 
								)}

							</div> -->
							
						
					</div>
				</div>
				<!-- End of main content -->
				 
				<!-- Sidebar on desktop -->
				<!-- Bottom on small/mobile -->
				<div class="
					block 
					lg:mt-68
					px-6
					"
				>
					<h2 class="
						text-[var(--sl-color-gray-1)]
						mb-4
						font-bold
						text-3xl
					">
						Blog Posts
					</h2>
					
					{sortedOtherBlogs.map((BlogPost) => {
						
						const blogPostUrl = titleToLowerCaseKebab(BlogPost.title)
						
						return <div class="
							hover:bg-slate-100
							hover:dark:bg-slate-800
							py-1
							px-2
							my-1		
						">
							<a class="
								text-[var(--sl-color-text-accent)]
								text-justify
								"
								href={"/blog/"+blogPostUrl}
							>
								
								<div class="
									flex
									flex-col
									text-[var(--sl-color-gray-1)]
								">
									<h3 class="
										text-l 
										font-bold
										"
									>
										{BlogPost.title}
									</h3>
									<p class="font-medium">
										{BlogPost.date.slice(0,10)}
									</p>
								</div>
							</a>
						
						</div>
					} 
					)}

				</div>
				<!-- End of Sidebar -->
				
			</div>
			<!-- End of page grid layout for sidebar and main -->

		</div>
	</div>
</body>