---
// import Navbar from "../components/navbar.astro";
// import Hero from "../components/hero.astro";
// import Sample from "../components/sample.astro";
// import Features from "../components/features.astro";
// import Community from "../components/community.astro";

import Layout from "../components/layout_test.astro";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
        name="description"
        content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
    />
    <meta name="og:title" content="C3" />
    <meta
        name="og:description"
        content="C3 is a programming language that builds on the syntax and semantics of the C language, with the goal of evolving it while still retaining familiarity for C programmers."
    />
    <meta content="/logo.svg" property="og:image" />
    <meta content="#4355ec" data-react-helmet="true" name="theme-color" />
    <meta name="og:image" content="/logo.svg" />

    <link rel="icon" href="/ico.svg" type="image/x-icon" />

    <title>C3 | An evolution, not a revolution</title>
    <!-- <script>
        // import "boxicons";
        // import "../../public/preline.min.js";
        // import "../../public/overlay.min.js";
        import "../base.css";
    </script> -->
    <script>
        import "../base.css";
        
    </script>
</head>



<div class="
    grid
    grid-cols-[minmax(0,1fr)_minmax(0,1536px)_minmax(0,1fr)]
    
    bg-gradient-to-tr
    dark:from-[hsl(224,12%,11%)]
    dark:to-[hsl(224,12%,22%)]
    from-[hsl(224,12%,70%)]
    to-[hsl(224,12%,95%)]
    "
>

    <div class="row-start-1 col-start-1 col-span-1 row-span-full">
        <div class="
            h-[3.5rem]
            md:sticky
            md:top-0
            md:z-50

            bg-white
            dark:bg-[hsl(224,12%,4%)]
            border-b-2
            border-b-gray-200
            dark:border-b-gray-800
        "/>
        <div class="row-span-1 h-[24rem]"/>
        <!-- <div class="bg-gray-50 dark:bg-[hsl(224,12%,4%)] row-span-1"/> -->
    </div>

    


    <!-- <div class="row-start-1 col-start-2 bg-red-400 row-span-3">
        content
    </div> -->

    <body class="
        col-start-2
        col-span-1
        row-span-full
    ">
        <div >
            <Layout/>
        </div>
        <link rel="stylesheet" href="/index.css" />
    </body>

   
    <div class="row-start-1 col-start-3 col-span-1 row-span-full">
        <div class="
            h-[3.5rem]
            md:sticky
            md:top-0
            md:z-50

            bg-white
            dark:bg-[hsl(224,12%,4%)]
            border-b-2
            border-b-gray-200
            dark:border-b-gray-800
        "/>
        <div class="row-span-1 h-[24rem]"/>
        <!-- <div class="bg-gray-50 dark:bg-[hsl(224,12%,4%)] h-screen"> -->
        </div>
    </div>







</div>








    <!-- right-space -->
    <!-- <div class="
        grid
        grid-rows-[3.5rem_24rem_1fr]
        w-full
        h-full
    ">
        <div class="
        md:sticky
        md:top-0
        md:z-50

        bg-white
        dark:bg-[hsl(224,12%,4%)]
        border-b-2
        border-b-gray-200
        dark:border-b-gray-800
    "/>
        <div class="    
            bg-[hsl(288,15%,88%)]
            dark:bg-[hsl(288,2%,7%)]
            bg-no-repeat
            bg-gradient-to-b
            "
        />
        <div class="
            bg-gray-50
            dark:bg-[hsl(224,12%,4%)]
            "
        />
    </div> -->




<!-- <body class="
    max-w-screen-2xl
    col-start-2
    dark:bg-stone-950 
    mx-auto
    
    
    ">
    <div style="height: auto">
        <Layout/> -->
        <!-- <Navbar /> -->
        <!-- <Hero /> -->
        <!-- <Sample /> -->
        <!-- <Features /> -->
        <!-- <Community /> -->
    <!-- </div>
    <link rel="stylesheet" href="/index.css" />
</body> -->