<header class="md-header" data-md-component="header">
  <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">

    <!-- Logo and Title -->
    <a href="{{ config.site_url | url }}" title="{{ config.site_name | e }}"
      class="md-header__button md-logo" aria-label="{{ config.site_name | e }}" data-md-component="logo">
      {% include "partials/logo.html" %}
    </a>
    <label class="md-header__button md-icon" for="__drawer">
      {% include ".icons/material/menu" ~ ".svg" %}
    </label>
    <div class="md-header__title" data-md-component="header-title">
      <div class="md-header__ellipsis">
        <div class="md-header__topic">
          <span class="md-ellipsis">
            {{ config.site_name }}
          </span>
        </div>
        <div class="md-header__topic" data-md-component="header-topic">
          <span class="md-ellipsis">
            {% if page and page.meta and page.meta.title %}
            {{ page.meta.title }}
            {% else %}
            {{ page.title }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>

    <!-- Custom Links -->
    <div class="md-header__option">
      <a href="{{ 'blog/' | url }}" class="md-header__link">
        Blog
      </a>
      <a href="https://discord.gg/qN76R87" class="md-header__link" target="_blank" rel="noopener">
        Discord
      </a>
    </div>

    <!-- Repository Source -->
    {% if config.repo_url %}
    <div class="md-header__source">
      {% include "partials/source.html" %}
    </div>
    {% endif %}


    <!-- User Preference (for search/theme) -->
    {% if config.extra.alternate %}
    {% include "partials/alternate.html" %}
    {% endif %}

    <!-- Search -->
    <label class="md-header__button md-icon" for="__search">
      {% include ".icons/" ~ (config.theme.icon.search or "material/magnify") ~ ".svg" %}
    </label>
    {% include "partials/search.html" %}

    <!-- Color Palette Toggle -->
    {% include "partials/palette.html" %}

  </nav>
</header>