---

const { name, mobile_code, desktop_code, is_default, highlighter } = Astro.props;


let mobile_code_html = highlighter.codeToHtml(
    mobile_code,
    { 
        lang: 'c3', 
        themes: { 
            light: 'min-light',
            // light: 'github-light-default',
            dark: 'andromeeda',
        }
    }
)

let desktop_code_html = highlighter.codeToHtml(
    desktop_code,
    { 
        lang: 'c3', 
        // theme: 'slack-dark' 
        themes: { 
            light: 'min-light',
            // light: 'github-light-default',
            dark: 'andromeeda',
        }
    }
)


// Post-process the code-formatter output to link it to standard Tailwind classes
function processHtml(input) {

    // remove the background
    input = input.replaceAll(
        `class="shiki shiki-themes min-light andromeeda" style="background-color:#ffffff;--shiki-dark-bg:#23262E;color:#24292eff;--shiki-dark:#D5CED9"`, 
        `class="text-[#24292eff] dark:text-[#D5CED9]"`
    )

    input = input.replaceAll(
        `style="color:#24292EFF;--shiki-dark:#D5CED9"`,
        `class="text-[#24292EFF] dark:text-[#D5CED9]"`
    )

    input = input.replaceAll(
        `style="color:#D32F2F;--shiki-dark:#EE5D43"`,
        `class="text-[#D32F2F] dark:text-[#EE5D43]"`
    )

    input = input.replaceAll(
        `style="color:#D32F2F;--shiki-dark:#C74DED"`,
        `class="text-[#D32F2F] dark:text-[#C74DED]"`
    )

    input = input.replaceAll(
        `style="color:#6F42C1;--shiki-dark:#FFE66D"`,
        `class="text-[#6F42C1] dark:text-[#FFE66D]"`
    )

    input = input.replaceAll(
        `style="color:#22863A;--shiki-dark:#96E072"`,
        `class="text-[#22863A] dark:text-[#96E072]"`
    )

    input = input.replaceAll(
        `style="color:#1976D2;--shiki-dark:#F39C12"`,
        `class="text-[#1976D2] dark:text-[#F39C12]"`
    )

    input = input.replaceAll(
        `style="color:#C2C3C5;--shiki-dark:#A0A1A7CC"`,
        `class="text-[#C2C3C5] dark:text-[#A0A1A7CC]"`
    )

    input = input.replaceAll(
        `style="color:#24292eff;--shiki-dark:#D5CED9"`,
        `class="text-[#24292EFF] dark:text-[#D5CED9]"`
    )

    input = input.replaceAll(
        `style="color:#212121;--shiki-dark:#D5CED9"`,
        `class="text-[#212121] dark:text-[#D5CED9]"`
    )


    input = input.replaceAll(
        `style="color:#24292EFF;--shiki-dark:#00E8C6"`,
        `class="text-[#24292EFF] dark:text-[#00E8C6]"`
    )


    input = input.replaceAll(
        `style="color:#1976D2;--shiki-dark:#00E8C6"`,
        `class="text-[#1976D2] dark:text-[#00E8C6]"`
    )


    input = input.replaceAll(
        `style="color:#1976D2;--shiki-dark:#EE5D43"`,
        `class="text-[#1976D2] dark:text-[#EE5D43]"`
    )

    return input;
}

mobile_code_html = processHtml(mobile_code_html)
desktop_code_html = processHtml(desktop_code_html)

---


<!-- Mobile code -->
<div class=`
    ${is_default && "lg:hidden flex"}
    ${!is_default && "hidden"}
    rounded-md

    p-4
    md:p-8
    `
    id=`${name}_mobile_code`
>
    <Fragment set:html={mobile_code_html} />
</div>

<!-- Desktop code -->
<div class=`
    ${is_default && "hidden lg:flex"}
    ${!is_default && "hidden"}

    rounded-md
    p-12
    `
    id=`${name}_desktop_code`
>
    <Fragment set:html={desktop_code_html} />
</div>


