---

---

<div class="flex flex-col center content-center items-center justify-center">
  <h1
    style="font-size: 64px"
    class="font-bold
    text-gray-800
    dark:text-white"
  >
    Get Started
  </h1>

  <div
    class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-4 lg:gap-8"
  >
    <a
      class="flex flex-col h-full text-center rounded-md hover:bg-gray-100 p-4 sm:p-6 dark:hover:bg-white/[.05]"
      href="#"
    >
      <box-icon
        class="w-24 h-24 mx-auto text-black dark:text-white"
        type="solid"
        name="download"
        color="currentColor"
        fill="currentColor"></box-icon>

      <div class="grow">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
          Download
        </h3>
        <p class="mt-1 text-gray-500">
          Install the C3 compiler for Windows, Mac and Linux.
        </p>
      </div>
    </a>
    <a
      class="flex flex-col h-full text-center rounded-md hover:bg-gray-100 p-4 sm:p-6 dark:hover:bg-white/[.05]"
      href="#"
    >
      <box-icon
        class="w-24 h-24 mx-auto text-black dark:text-white"
        type="solid"
        name="graduation"
        color="currentColor"
        fill="currentColor"></box-icon>

      <div class="grow">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
          Learn
        </h3>
        <p class="mt-1 text-gray-500">
          Check out the C3 manual to start programming with C3.
        </p>
      </div>
    </a>
    <a
      class="flex flex-col h-full text-center rounded-md hover:bg-gray-100 p-4 sm:p-6 dark:hover:bg-white/[.05]"
      href="#"
    >
      <box-icon
        class="w-24 h-24 mx-auto text-black dark:text-white"
        type="solid"
        name="chat"
        color="currentColor"
        fill="currentColor"></box-icon>

      <div class="grow">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">
          Engage
        </h3>
        <p class="mt-1 text-gray-500">
          Help us improve C3 by being a part of the community.
        </p>
      </div>
    </a>
  </div>
</div>
<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a
        class="flex-none text-xl font-semibold text-black dark:text-white"
        href="#"
        aria-label="Brand">C3</a
      >
    </div>
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-gray-500">
        This website is <a
          class="font-semibold text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-400"
          href="https://github.com/onrirr/c3-web">Open Source</a
        >.
      </p>
    </div>
  </div>
  <!-- End Grid -->
</footer>
