<hr
  class="w-96 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-900"
/>

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid md:grid-cols-2 gap-12">
    <div class="space-y-6 lg:space-y-10">
      <div class="flex">
        <span
          class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200"
        >
          <box-icon name="exclude" color="currentColor" fill="currentColor"
          ></box-icon>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3
            class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
          >
            Full C ABI Compatibility
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
            aut? Maxime, ut et? Ut culpa facilis, enim laudantium a amet aliquam
            aliquid quae error perferendis incidunt natus deleniti accusamus
            praesentium.
          </p>
        </div>
      </div>

      <div class="flex">
        <span
          class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200"
        >
          <box-icon
            type="solid"
            name="package"
            color="currentColor"
            fill="currentColor"></box-icon>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3
            class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
          >
            Module System
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At iusto
            eligendi quam voluptate, cumque similique error dolorum qui fugiat
            aut eius ipsa, nobis totam facilis officiis minus laudantium beatae
            recusandae!
          </p>
        </div>
      </div>

      <div class="flex">
        <span
          class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200"
        >
          <box-icon name="command" color="currentColor" fill="currentColor"
          ></box-icon>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3
            class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200"
          >
            Semantic Macros
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt,
            dolorum dicta rerum mollitia vitae minima sed nobis unde recusandae
            pariatur, ab dolores error exercitationem cumque quod, eaque iure
            optio ullam.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-3/4">
      <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl dark:text-white">
        C3 is an evolution, not a revolution:
        <span
          class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"
          >the C-like for programmers who like C.</span
        >
      </h2>
      <p class="mt-3 text-gray-800 dark:text-gray-400">
        C3 is a programming language that builds on the syntax and semantics of
        the C language, with the goal of evolving it while still retaining
        familiarity for C programmers.<br /><br />
        Thanks to full ABI compatibility with C, it's possible to mix C and C3 in
        the same project with no effort. As a demonstration, vkQuake was compiled
        with a small portion of the code converted to C3 and compiled with the c3c
        compiler.
      </p>
      <a
        class="mt-5 inline-flex items-center gap-x-2 font-medium text-blue-600 dark:text-blue-500"
        href="https://github.com/c3lang/vkQuake"
      >
        The fork can be found here
        <svg
          class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">
    <div class="text-center">
      <div
        class="flex justify-center items-center w-12 h-12 bg-gray-50 border border-gray-200 rounded-full mx-auto dark:bg-gray-800 dark:border-gray-700"
      >
        <box-icon
          class="text-slate-800 dark:text-white"
          name="bug-alt"
          color="currentColor"
          fill="currentColor"></box-icon>
      </div>
      <div class="mt-3">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          Zero Overhead Errors
        </h3>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="text-center">
      <div
        class="flex justify-center items-center w-12 h-12 bg-gray-50 border border-gray-200 rounded-full mx-auto dark:bg-gray-800 dark:border-gray-700"
      >
        <box-icon
          class="text-slate-800 dark:text-white"
          name="buildings"
          color="currentColor"
          fill="currentColor"></box-icon>
      </div>
      <div class="mt-3">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          Struct Subtyping
        </h3>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div class="text-center">
      <div
        class="flex justify-center items-center w-12 h-12 bg-gray-50 border border-gray-200 rounded-full mx-auto dark:bg-gray-800 dark:border-gray-700"
      >
        <box-icon
          class="text-slate-800 dark:text-white"
          name="bracket"
          color="currentColor"
          fill="currentColor"></box-icon>
      </div>
      <div class="mt-3">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          Safe Array Access
        </h3>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          Safe array access using sub arrays
        </p>
      </div>
    </div>

    <div class="text-center">
      <div
        class="flex justify-center items-center w-12 h-12 bg-gray-50 border border-gray-200 rounded-full mx-auto dark:bg-gray-800 dark:border-gray-700"
      >
        <box-icon
          class="text-slate-800 dark:text-white"
          name="text"
          color="currentColor"
          fill="currentColor"></box-icon>
      </div>
      <div class="mt-3">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
          High level containers
        </h3>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>
<hr
  class="w-96 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-900"
/>
