<script is:inline>

	// get theme preference from local storage
	let theme = localStorage.getItem("starlight-theme");
	
	// Set existing preference of light, from previous page load
	if (theme === "light") 
	{
		document.documentElement.classList.remove("dark");
	}
	// Set existing preference of dark, from previous page load
	else if (theme === "dark") 
	{
		document.documentElement.classList.add("dark");
	}
	

	function toggleDarkMode() {
		// get theme preference from local storage
		let theme = localStorage.getItem("starlight-theme")

		// Switch existing preference from light to dark
		if (theme === "light") 
		{
			localStorage.setItem("starlight-theme", "dark");
			document.documentElement.classList.add("dark");
		}
		// Switch existing preference from dark to light
		else if (theme === "dark") 
		{
			localStorage.setItem("starlight-theme", "light");
			document.documentElement.classList.remove("dark");
		}
		// no local storage preference, but browser prefer dark, add dark class to root html element
		else if (window.matchMedia("(prefers-color-scheme: dark)").matches) 
		{
			localStorage.setItem("starlight-theme", "dark");
			document.documentElement.classList.add("dark");
		}
		// No local storage or browser preference, add dark class to root html element
		else 
		{
			localStorage.setItem("starlight-theme", "dark");
			document.documentElement.classList.add("dark");
		}	
	}
	

	function moreDropdownOnMouseDown() {
		const dropdown = document.getElementById("more-dropdown")
		dropdown.focus();
		
		// when dropdown is open, "close" by adding "hidden"
		if (!dropdown.classList.contains("hidden"))
		{
			dropdown.classList.add("hidden");
		}
		// when dropdown is closed, "open" it by removing "hidden"
		else 
		{
			document.getElementById("more-dropdown").classList.remove("hidden");
		}
	}
	
	function moreDropdownOnBlur() {
		
		setTimeout(
			function() {
				document.getElementById("more-dropdown").classList.add("hidden");
			}, 
			100,
		);
	}
	
</script>

<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full border-b border-gray-200 text-sm py-3 sm:py-0 dark:border-stone-700"
>
  <nav
    class="relative max-w-7xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex items-center justify-between">
      <a
        class="flex-none text-xl font-semibold dark:text-white"
        href="#"
        aria-label="Brand">C3</a
      >
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-stone-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-stone-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-stone-950"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <svg
            class="hs-collapse-open:hidden w-4 h-4"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            ></path>
          </svg>
          <svg
            class="hs-collapse-open:block hidden w-4 h-4"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
    >
      <div
        class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:pl-7"
      >
        <a
          class="font-medium text-gray-500 hover:text-blue-500 sm:py-6 dark:text-gray-400 dark:hover:text-blue-500"
          href="/getting-started/">Docs</a
        >
        <a
          class="font-medium text-gray-500 hover:text-blue-500 sm:py-6 dark:text-gray-400 dark:hover:text-blue-500"
          href="/language-overview/examples">Examples</a
        >
        <a
          class="font-medium text-gray-500 hover:text-blue-500 sm:py-6 dark:text-gray-400 dark:hover:text-blue-500"
          href="/getting-started/prebuilt-binaries">Download</a
        >
        <a
          class="font-medium text-gray-500 hover:text-blue-500 sm:py-6 dark:text-gray-400 dark:hover:text-blue-500"
          href="https://discord.gg/qN76R87"
        >
          Discord
        </a>
        <div
          class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] sm:[--trigger:hover] sm:py-4"
        >
          <button
            type="button"
            class="flex items-center w-full text-stone-600 hover:text-blue-500 font-medium dark:text-gray-400 dark:hover:text-blue-500"
			onmousedown="moreDropdownOnMouseDown()"
			onblur="moreDropdownOnBlur()"
          >
            More
            <svg
              class="ml-2 w-2.5 h-2.5 text-stone-600"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
          </button>
		  
		  <!-- More dropdown menu -->
          <div
		  	id="more-dropdown"
            class="
			hidden
			absolute
			top-full 
			sm:right-[4rem]
			z-10
			sm:w-52 
			bg-white
			rounded-lg
			sm:border 
			sm:dark:border
			border-gray-200
			shadow-md
			dark:bg-stone-950 
			dark:border-stone-700 
			sm:mt-1
			mt-[-1.5rem]
			p-2			
			"
          >
            <a
              class="flex items-center gap-x-3.5 py-2 px-3 rounded-md font-medium text-stone-600 hover:text-white hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-blue-700 dark:hover:text-gray-100"
              href="https://github.com/c3lang/c3c"
            >
              Github
            </a>
            <a
              class="flex items-center gap-x-3.5 py-2 px-3 rounded-md font-medium text-stone-600 hover:text-white hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-blue-700 dark:hover:text-gray-100"
              href="https://github.com/sponsors/c3lang"
            >
              Support us
            </a>
          </div>
        </div>

		<!-- Enable dark mode, from light mode -->
		<a class="
			group
			flex 
			items-center 
			text-gray-600 
			hover:text-blue-600 
			font-medium 
			dark:hidden
			dark:text-gray-400 
			dark:hover:text-gray-500
			"
			href="#!"
			onclick="toggleDarkMode()"
		>
			<svg
			class="w-4 h-4"
			xmlns="http://www.w3.org/2000/svg"
			width="16"
			height="16"
			fill="currentColor"
			viewBox="0 0 16 16"
			>
			<path
				d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
			>
			</path>
			</svg>
		</a>
		
		<!-- Enable light mode from dark mode -->
		<a class="
			hidden 
			dark:flex
			group 
			items-center 
			text-gray-600 
			hover:text-blue-600 
			font-medium 
			dark:text-gray-400 
			dark:hover:text-gray-500
		"
          href="#!"
		  onclick="toggleDarkMode()"
        >
          <svg
            class="w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
            ></path>
          </svg>
        </a>
		
      </div>
    </div>
  </nav>
</header>
