


<div class="
    pb-24
    px-4
    lg:pr-12

    grid
    grid-cols-[repeat(1,minmax(0,1fr))]
    sm:grid-cols-[repeat(2,minmax(0,1fr))]
    md:grid-cols-[repeat(3,minmax(0,1fr))]
    justify-center
    lg:grid-cols-3
    2xl:grid-cols-3

    gap-2
    lg:gap-4
    text-gray-800 
    dark:text-gray-300
    max-w-screen-xl
    
">


    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/raylib5.c3l"
        aria-label="C3 Raylib module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            
            "
        >
            Raylib
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
        Library for videogames programming.
        </p>
    </a>

    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/sdl2.c3l"
        aria-label="C3 SDL module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            SDL
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Cross-platform hardware abstraction layer.
        </p>
    </a>


    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/opengl.c3l"
        aria-label="C3 OpenGL module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            OpenGL
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Cross-platform 2D & 3D rendering API.
        </p>
    </a>

    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/vulkan.c3l"
        aria-label="C3 Vulkan module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            Vulkan
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Cross-platform 2D & 3D rendering API.
        </p>
    </a>

    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/glfw.c3l"
        aria-label="C3 GLFW module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            GLFW
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            API for creating windows, contexts and surfaces, receiving input and events.
        </p>
    </a>


    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/webgpu.c3l"
        aria-label="C3 WebGPU module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            3D
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            WebGPU
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Web browser JavaScript API enables GPU access on the web.
        </p>
    </a>



    <!-- ======================================== -->
    <!-- WEB RELATED -->
    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/curl.c3l"
        aria-label="C3 Curl module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            Web
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            Curl
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Library for transferring data using various network protocols.
        </p>
    </a>

    <!-- ======================================== -->
    <!-- Parsing related -->

    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/tree_sitter.c3l"
        aria-label="C3 Treesitter module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            Parsing
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            TreeSitter
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
        A parser generator tool and an incremental parsing library.
        </p>
    </a>

    <!-- ======================================== -->
    <!-- Parsing related -->

    <a class="     
        flex
        items-center
        p-2
        lg:p-6
        lg:block

        dark:bg-[hsl(224,18%,10%)]
        bg-gray-50
        border-2
        border-gray-300
        dark:border-gray-700
        rounded-md
        shadow-md
        dark:hover:brightness-125
        hover:brightness-105
        "
        href="https://github.com/c3lang/vendor/tree/main/libraries/tigr.c3l"
        aria-label="C3 Tigr module"
    >
        <p class="
            p-2
            lg:mb-4
            lg:mr-0
            mb-0
            mr-4
            
            dark:bg-[hsl(224,12%,18%)]
            bg-gray-200
            rounded-md
            w-min
            text-blue-600
            dark:text-blue-400
            font-bold
            "
        >
            UI
        </p>

        <h3 class="
            dark:text-gray-100
            font-bold
            text-lg
            2xl:pb-4
            "
        >
            Tigr
        </h3>
        <p class="
            hidden
            2xl:block
            "
        >
            Tiny cross-platform UI graphics library.
        </p>
    </a>


</div>



