---
import DownloadButton from "./download.astro";
---

<main>
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
      <div>
        <h1
          class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
        >
          The
          <span
            class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"
            >C3</span
          >
          Programming Language
        </h1>
        <p class="mt-3 text-lg text-gray-800 dark:text-gray-400 mb-5">
          Simple, fast, safe, compiled. For developing maintainable software.
        </p>
        <DownloadButton />
      </div>
      <div class="relative">
        <div class="flex items-center justify-center">
          <div
            class="lg:w-10/12 dark:bg-slate-900 shadow-2xl rounded-lg overflow-hidden"
          >
            <div id="header-buttons" class="py-3 px-4 flex">
              <div class="rounded-full w-3 h-3 bg-red-500 mr-2"></div>
              <div class="rounded-full w-3 h-3 bg-yellow-500 mr-2"></div>
              <div class="rounded-full w-3 h-3 bg-green-500"></div>
            </div>
            <div id="code-area" class="mt-1 text-white text-xl">
              <div class="mb-2">
                <code
                  is:raw
                  class="text-xl sm:text-xl inline-flex text-left items-center space-x-4 text-stone-950 dark:text-white rounded-lg p-10"
                >
                  <span> <span class="text-blue-500">module</span> <span
                  class="text-red-400">hello_world</span>;<br /> <span
                  class="text-blue-500">import</span> <span
                  class="text-red-400">std</span>::<span
                  class="text-red-400">io</span >;<br /> <br /> <span
                  class="text-blue-500">fn</span> <span
                  class="text-red-400">void</span> <span
                  class="text-orange-400">main</span>() <br />{<br /> <span
                  class="ml-5"> <span class="text-red-400">io</span>::<span
                  class="text-red-400">printn</span>(<span
                  class="text-green-500">"Hello, world!"</span>); </span> <br />
                  }<br /> </span>
                </code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
